.kezdooldal-container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  text-align: center;
  overflow-x: hidden;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.product-card {
  background: #f8f8f8;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 250px;
}

.product-card h3 {
  font-size: 1.2em;
  color: #4f67f0;
}

.product-card p {
  color: black;
  font-size: 1em;
}

.product-card button {
  background: #4f67f0;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

.product-card button:hover {
  background: #4f67f0;
}

/*  Footer  */
.info-section,
.footer {
  padding: 20px 10px;
  background: #f5f5f5;
  border-radius: 10px;
  text-align: center;
}

.info-section h2,
.footer h2 {
  font-size: 1.4em;
  color: 4f67f0;
  margin-bottom: 10px;
}

.info-section p,
.footer p {
  font-size: 1em;
  color: #333;
  margin-bottom: 15px;
}

.info-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 0 10px;
  max-width: 100%;
  box-sizing: border-box;
}

.info-links a {
  text-decoration: none;
  color: #4f67f0;
  font-weight: bold;
  white-space: nowrap;
}

.info-links a:hover {
  text-decoration: underline;
  color: #3d54c7;
}

.vasarlasi-felteteleke {
  color: #222;
}


/* Sötét mód */
.dark-mode .kezdooldal-container h2 {
  color: #fff;
}

.dark-mode .product-card {
  background: #333;
}

.dark-mode .product-card p {
  color: #fff;
}

.dark-mode .product-card h3 {
  color: #65a7f7;
}

.dark-mode .info-section,
.dark-mode .footer {
  background: #444;
}

.dark-mode .info-section p,
.dark-mode .footer p {
  color: #fff;
}

.dark-mode .info-section a,
.dark-mode .footer a {
  color: #c0ffff;
}

/* Reszponzív */
@media (max-width: 768px) {
  .info-links {
    flex-direction: column;
    gap: 10px;
  }

  .footer h2 {
    font-size: 1.2em;
  }

  .footer p {
    font-size: 0.95em;
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 15px 5px;
  }

  .info-links a {
    font-size: 0.95em;
  }
}
